<app-nav-barprincipal></app-nav-barprincipal>

<div style="text-align: center">
  <h1>Temas</h1>
  <mat-divider></mat-divider>
</div>
<div *ngFor="let tema of temas">
  <mat-card>
    <div class="info" >
      <div style="padding-bottom:0">
        <h1>
          Tema: {{tema.nombre}}
        </h1>
      </div>

    </div>
    <div class="img">
      <img src="{{tema.img}}">
    </div>

    <div class="actions">
      <button mat-raised-button  [routerLink]="['/videos',tema._id]">Ver Video</button>
    </div>
  </mat-card>
  <mat-divider></mat-divider>
</div>

<button mat-raised-button mat-button color="primary" class="ancho button" [routerLink]="'/principal'" >Regresar</button>
