<app-nav-barprincipal></app-nav-barprincipal>
<h1 class="title">Se deben tener buenas bases para avanzar en las matemáticas. Termina esta ruta
  y comienza tu viaje en este mundo de conocimientos.
  Tiempo del curso: 10 horas</h1>
<br><br>
<mat-grid-list cols="2" rowHeight="2.3:0.5">

  <div  *ngFor="let tema of temas; let i=index" >
    <mat-grid-tile>

      <button mat-button title="{{tema.totalVideos}} cursos"  >
        <h2>{{tema.nombre}}</h2>
        <h2><img src="{{tema.img}}" class="iman" [routerLink]="'/ramas'"></h2>
        <a [routerLink]="['/videos',tema._id]">"Ir a video"</a>
      </button>
    </mat-grid-tile>
    <br>
    <div *ngIf="(i+1)==2">
      <br><br>
    </div>
  </div>
</mat-grid-list>
<br><br>
<button mat-raised-button mat-button color="primary" class="ancho button" [routerLink]="'/ramas'" >Regresar</button>
