<app-nav-barprincipal></app-nav-barprincipal>
<h1 class="title">Se deben tener buenas bases para avanzar en las matemáticas. Termina esta ruta
  y comienza tu viaje en este mundo de conocimientos.
  Tiempo del curso: 10 horas</h1>
<br><br><br><br>
<mat-grid-list cols="2" rowHeight="6:0.5">
  <mat-grid-tile>
    <button mat-button [routerLink]="'/video'">
      <h2>¿Que son las matemáticas?</h2>
    </button>
  </mat-grid-tile>

  <mat-grid-tile>
    <button mat-button [routerLink]="'/números'">
      <h2>Los números</h2>
    </button>
  </mat-grid-tile>

  <br><br>
  <mat-grid-tile>
    <button mat-button [routerLink]="'/video'">
      <h2>Sumas</h2>
    </button>
  </mat-grid-tile>

  <br><br>
  <mat-grid-tile>
    <button mat-button [routerLink]="'/restas'">
      <h2>Restas</h2>
    </button>
  </mat-grid-tile>

  <br><br>
</mat-grid-list>
<br><br>
<button mat-raised-button mat-button color="primary" class="ancho button" [routerLink]="'/ramas'" >Regresar</button>
