<app-nav-barprincipal></app-nav-barprincipal>

<div style="text-align: center">
  <h1>Ramas</h1>
  <mat-divider></mat-divider>
</div>
<div *ngFor="let rama of ramas">
  <mat-card>
    <div class="info" >
      <div style="padding-bottom:0">
        <h1>
          Rama: {{rama.nombre}}
        </h1>
      </div>
      <div class="hora">
        <h1>Cantidad de videos: {{rama.totalVideos}}</h1>
      </div>
    </div>
      <div class="img">
        <img src="{{rama.img}}">
      </div>

    <div class="actions">
      <button mat-raised-button  [routerLink]="['/temas',rama._id]"> Ir rama</button>
    </div>
  </mat-card>
  <mat-divider></mat-divider>
</div>


<button mat-raised-button mat-button  class="button" [routerLink]="'/cursos'" >Regresar</button>
