
.title{
  width: 100%;
  max-width: 800px;
  padding: 15px;

  text-align: left;
}
mat-grid-tile {
  background: rosybrown;
  width: 50%;
  max-width: 300px;
  text-align: center;
  margin-left: 150px;
  border-radius: 5%;
}
.button{
  background-color: #F07E81;
  width: 100%;
  max-width: 250px;
  padding: 15px;
  margin: auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5%;
}
