<app-nav-barprincipal></app-nav-barprincipal>
<h1 class="titles">Matemáticas</h1>
<h1 class="title">La escencia de las matemáticas, no es hacer las cosas faciles complicadas, sino hacer las cosas complicadas simples.</h1>
<h1 class="title">Ramas:</h1>
<mat-grid-list cols="2" rowHeight="2.3:0.5">
  <div  *ngFor="let rama of ramas; let i=index" >
    <mat-grid-tile>

      <button mat-button title="{{rama.totalVideos}} cursos" >
        <h2>{{rama.nombre}}</h2>
        <h2><img src="{{rama.img}}" class="iman" [routerLink]="'/temas'"></h2>
        <h2>"Total de videos":{{rama.totalVideos}}</h2>
        <a [routerLink]="['/temas',rama._id]">"Ir a curso"</a>
      </button>
    </mat-grid-tile>
    <br>
    <div *ngIf="(i+1)==2">
      <br><br>
    </div>
  </div>
</mat-grid-list>
<br><br>
<button mat-raised-button mat-button color="primary" class="button" [routerLink]="'/cursos'" >Regresar</button>
