<app-nav-barprincipal></app-nav-barprincipal>
<div class="title">
<h1 >Rutas de aprendizaje</h1>
</div>
<div style=" width: 100%; padding: 0; margin: 0;">
  <mat-grid-list [cols]="colSize" rowHeight="500px" >
    <div  *ngFor="let ruta of rutas; let i=index" >

      <mat-grid-tile rowspan="1" colspan="1" style="position: center" >
        <mat-card class="card">

        <img mat-card-image src="{{ruta.img}}" alt="Foto de un curso">

          <mat-card-header>
            <mat-card-title>Total de cursos: {{ruta.totalCursos}}</mat-card-title>
          </mat-card-header>
          <mat-divider inset></mat-divider>
          <mat-card-actions>
            <button mat-button [routerLink]="['/cursos',ruta._id]">Ir a ruta</button>
          </mat-card-actions>


        </mat-card>
  </mat-grid-tile>
    </div>
</mat-grid-list>
</div>

<button mat-raised-button mat-button class="button" [routerLink]="'/login'" >Regresar</button>

