
.title{
  width: 100%;
  max-width: 700px;
  padding: 15px;
 color: #0b3d28;
  text-align: left;
  ;
}
mat-grid-tile {
  background: rosybrown;
  width: 50%;
  max-width: 300px;
  text-align: center;
  margin-left: 150px;
  border-radius: 5%;
  height: 15px;
}
.button{
  background-color: #204114;
  width: 100%;
  max-width: 250px;
  padding: 15px;
  margin: auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7%;
}
.body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  height: 100%;
}
.iman{
  width: 20%;
  height: 200%;
}
.container{
  height: 100%;
  width:100%;
  grid-gap: 10px;
  display:grid;


}
