.example-spacer {
  flex: 1 1 auto;
}
.logo{
  width: 5%;
  height: 50%;
}
.tb2{
  background-color: #204114;
}
img{
background: black;
  border-radius: 5px;
  height: 200px;
}
.search{
  margin: 500px 0;
}

