<app-nav-barlogin></app-nav-barlogin>
<div class="body">
  <div class="login">
    <h1 class="h3 mb-3 fw-normal">Revisa tu correo y sigue las instrucciones</h1>
    <mat-label>Te enviaremos un enlace a tu correo para que puedas cambiar la contraseña</mat-label>
    <br><br>
    <mat-form-field class="ancho" appearance="fill">
      <input color="black" matInput placeholder="Tu email">
    </mat-form-field>
    <br>
    <button mat-raised-button mat-button color="black" class="ancho button" [routerLink]="'/succesfullmessage'"><u>Enviar</u></button>
    <br><br>
    <mat-label><a [routerLink]="'/login'">Regresar al Inicio de Sesion</a></mat-label>
  </div>
</div>

