.body {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #ffffff;
  height: 100%;
}
.login {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  text-align: center;
  background: #286e2d;
  border-radius: 10px;
}

.ancho {
  width: 80%;
}

.button{
  background-color: #FFEB86;
  height: 50px;
  text-decoration-color: black;
}
mat-label{
  color: #75D3AA;
}
a{
  color: #75D3AA;
}
input{
  color: black;
}
