<app-nav-barlogin></app-nav-barlogin>
<div class="body">

  <div class="login">
    <h1 class="h3 mb-3 fw-normal">Registrarse</h1>
    <mat-form-field class="ancho" appearance="fill">
      <mat-label>Correo Electronico</mat-label>
      <input matInput placeholder="Tu email">
    </mat-form-field>
    <mat-form-field class="ancho" appearance="fill">
      <mat-label>Contraseña</mat-label>
      <input matInput placeholder="Tu contraseña">
    </mat-form-field>
    <mat-form-field class="ancho" appearance="fill">
      <mat-label>Repetir Contraseña</mat-label>
      <input matInput placeholder="Repetir contraseña">
    </mat-form-field>
    <br>
    <button mat-raised-button mat-button color="primary" class="ancho button" ><u>Registrarse</u></button>
    <br><br>
    <button mat-raised-button mat-button color="primary" class="ancho button" ><u>Subir foto</u></button>
    <br><br>
    <mat-label><a [routerLink]="'/login'">¿Ya tienes una cuenta?</a></mat-label>
    <br><br>
  </div>
</div>

